/*
=========== loading styles ==================
*/

.loading-container {
	grid-column: 2 / 3;
	grid-row: 2 / 4;
	display: flex;
	flex-direction: column;
}

.loading-message {
	text-align: center;
	animation-name: loadingMessage;
	animation-duration: 2s;
	/* animation-direction: alternate; */
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.loading-bar {
	width: 100%;
	height: 40px;
	background-color: rgba(189, 189, 189, 0.523);
}

.fill {
	width: 1%;
	height: 100%;
	background-color: rgba(0, 94, 255, 0.584);
	transition: width 100ms ease-in-out;
}

@keyframes loadingMessage {
	0% {
		color: rgba(0, 0, 0, 0);
	}
	50% {
		color: rgba(0, 0, 0, 0.5);
	}
	100% {
		color: rgba(0, 0, 0, 0);
	}
}

.hidden {
	display: none;
}